@charset "utf-8";

body {
  margin: 32px;
}
div  {
  width: 400px;
  height: auto;
  margin: 16px auto;
  padding: 0 16px 0
}

.history {
  border: 2px solid #aaa;
}

header {
  /* background: pink; */
  text-align: center;
}

header .header {
  display: flex;
  align-items: center;
  gap: 16px;
}

h1 {
 border-bottom: 1px solid #333;
 padding-bottom: 16px;
}
span {
 font-size: 16px;
 font-weight: normal;
}

h2 {
 font-weight: normal;
}
section p {
  line-height: 1.8;
 }